c<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894284902945-rgvifaopm5ur3h4551m2ujelh6bd3rtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894284902945-rgvifaopm5ur3h4551m2ujelh6bd3rtd</string>
	<key>API_KEY</key>
	<string>AIzaSyCTaZEXhq7OPV1FqnV0pXbMH8IeTqwImF4</string>
	<key>GCM_SENDER_ID</key>
	<string>894284902945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-de3e8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-de3e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894284902945:ios:da3e3b87c004fdb89da960</string>
</dict>
</plist>